/* reset css */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-image: url('https://img.freepik.com/free-photo/gray-painted-background_53876-94041.jpg?size=626&ext=jpg');
  backgroud-size: auto 100vh;
  font-family: 'Roboto', sans-serif; 
  height: 100vh;
}

/* condicional: se a tela tiver pelo menos 400px de largura esses estilos serao carregados */
@media(min-width: 400px){
  body{
    font-size: 14px;
  }
}

@media(min-width: 600px){
  body{
    font-size: 18px;
  }
}

header{
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: black;
  position: fixed; /* fixa barra de menu */
  top: 0; /* posiciona barra de menu no topo */
  width:100vw;
  z-index: 1;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li{
  list-style: none;
}
.menu a {
  display: block; /* bloco */
  padding: 10px 20px; /* aumenta a area de click -- precisa ser bloco para funcionar*/
  transition: text-shadow, color 2s;
}

.menu a:hover{
  text-shadow: 0px 0px 10px whitesmoke;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.titulo{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
  100%{
   transform: scale(1) translateY(0);
   opacity: 1;
  }
}

.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align: center;
}

.site-title{
  font-size: 4em;
  font-family: 'Share Tech Mono', monospace; 
}

.site-subtitle{
  font-style: italic;
  font-family: 'Share Tech Mono', monospace;
  line-height: 2em;
}

.sobre,
.contato,
.portfolio{
  padding: 2em;
  min-height: 100vh;
  margin-bottom: 1.5em;
  font-size: 1.2em;
}

@media (min-width: 1200px){
  .container{
     max-width: 1200px;
     margin-left: auto; 
     margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.portfolio h2{
  font-family: 'DM Mono', monospace;
  text-align: center;
  padding-bottom: 1em;
}

.sobre p{
  margin-bottom: 1.5em;
  text-align: justify;
}

.portfolio .grid{
  display: grid; /* grade */
  gap: 2em;
}

@media (min-width: 560px){
  .portfolio .grid{
   grid-template-columns: 240px 240px;
}

@media (min-width: 880px){
  .portfolio .grid{
   grid-template-columns: repeat(3,260px);
   align-content: center;
   justify-content: center;
   height: calc(100vh - 4em - 48px);
}

.portfolio figure{
  text-align: center;
}

.img-portfolio{
  height: 180px;
  width: 100%;
  object-fit: cover;
  transition: transform 500ms;
}

/*.img-portfolio:hover{
  transform: scale(1.2); 
}*/

/*@media(min-width: 1200px){
  .img-portfolio{
    height: 10em;
    width: 12em;
  }
}*/

.flip-card{
  perspective: 500px;
}

.card{
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.flip-card:hover .card{
  transform: rotateY(180deg); 
}

.card-front, 
.card-back{
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
} 

.card-back{
  background-color: white;
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.contato .icons{
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size:5em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 10px whitesmoke; /* ilumina o icone quando passa o mouse */
}